*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --hero: #1ABC9C;
    --dark-grey: #2C3E50;
    --light-gray: #3A546D;
    --white: #ffffff;
    --black: #333333;
}
header, #bot-footer{
    background-color: var(--dark-grey);
    color: var(--white);
}
#hero, #about{
    background-color: var(--hero);
}
#portfolio, #contact{
    background-color: var(--white);
}
#top-footer{
    background-color: var(--light-gray);
}
#portfolio img{
    width: 100%;
    padding-bottom: 10px;
}

#contact .info{
    margin-bottom: 130px;
}
#contact .btn{
    background-color: var(--hero);
}
.freelancer span{
    color: var(--hero);
}
.location, .icon, .freelancer{
    width: calc(100% / 3);
    margin: 0 auto;
}
#bot-footer{
    padding: 50px;
}
.stars, .star{
    width: 50%;
}

.stars i, .star i{
    display: block;
    width: 20%;
}

.stars::before,
.stars::after{
    content: ' ';
    display: block;
    width: 40%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--white);
}
.star::before,
.star::after{
    content: ' ';
    display: block;
    width: 40%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--black);
}
.icon-bottom{
    padding-right: 10px;
    font-size: 1.2rem;
}
.icon-bottom i{
    padding: 10px;
}
#mynav a{
    color: var(--white);
}
#mynav a:hover {
    color: #1ABC9C;
}

.btn:hover{
    opacity: 1;
    background-color: #2C3E50;
}
#contact .btn:hover{
    opacity: 1;
    background-color: #2C3E50;
}
.img-container:after{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    content: '+';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--hero);
    opacity: 0;
    color: var(--white);
}
.img-container:hover:after{
    opacity: .3;
}



